  <div>
    <form style="margin: auto; margin-top: 50px;" class="cntr box" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    
    <mat-form-field class="example-full-width question">
      <textarea matInput placeholder="Enter your question"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width option">
      <input matInput placeholder="option one">
    </mat-form-field>

    <mat-form-field class="example-full-width option">
      <input matInput placeholder="option two">
    </mat-form-field>

    <mat-form-field class="example-full-width option">
      <input matInput placeholder="option three">
    </mat-form-field>


<!--    TESTING DIFFERENT FORM STRUCTURE

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Enter a Question" ng-model="title" name="question" ngModel  #first="ngModel"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Enter an option" ng-model="optionOne" name="optOne" ngModel  #first="ngModel"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Enter an option" ng-model="optionTwo" name="optTwo" ngModel  #first="ngModel"></textarea>
    </mat-form-field> 

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Enter an option" ng-model="optionThree" name="optThree" ngModel  #first="ngModel"></textarea>
    </mat-form-field>  

-->
       
<!--  HIDDEN WHILE UNTIL READY FOR IMPLEMENTATION

    <div class="ui toggle checkbox dupip">
      <div>
        <input type="checkbox" name="public">
        <label >Allow Duplicate IP Votes?</label>
      </div>
    </div>

    <div class="ui toggle checkbox mulch">
      <div>
        <input type="checkbox" name="public">
        <label >Allow Multiple Choices?</label>
      </div>
    </div>
                
-->    

    <button class="ui right labeled icon button" value="Submit" >
      <i class="right arrow icon"></i>
      Create Poll
    </button>


    </form>
  </div>