

<!--The content below is only a placeholder and can be replaced.-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body class="bg">
  
  <div class="pusher">

  <header class="site-header">
    <img src="https://cdn1.iconfinder.com/data/icons/the-data-visualisation-catalogue-set-i/130/tally_chart-512.png"/>
    <h1>{{title}}</h1>
  </header>

<!--    CONFUSED ON HOW TO APPLY STYLING, WILL REVISIT

    <sm-menu title="Home" class="inverted" background="#fff" logo="https://cdn1.iconfinder.com/data/icons/the-data-visualisation-catalogue-set-i/130/tally_chart-512.png">
      <h1 style="margin: 10px;">{{title}}</h1>
    </sm-menu>

-->
    
    <app-createpoll></app-createpoll>

  </div>

</body>