

<!--The content below is only a placeholder and can be replaced.-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body class="bg">
  
  <div class="pusher">

<div class="ui inverted segment" style="margin-bottom: 0px; border-radius: 0px; background: #34373c; padding-bottom: 20px;">
  <div class="ui inverted secondary pointing menu" style="border: none;">
    <a class="item active">
      Home
    </a>
    <a class="item">
      Create Poll
    </a>
    <a class="item">
      View Poll
    </a>
    <a class="item">
      Login
    </a>
  </div>
</div>

  <header class="site-header">
    <img src="https://cdn1.iconfinder.com/data/icons/the-data-visualisation-catalogue-set-i/130/tally_chart-512.png"/>
    <h1>{{title}}</h1>
    <h3>The number one CSC 414 voting site</h3>
  </header>

    <app-createpoll></app-createpoll>

  </div>

</body>